.download-button{
    background-color: white;
    color: rgb(107, 99, 99);
    border-width: 1px;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:17px;
    padding-right:17px;
    border-radius: 2px;
    border-color: black;
    font-weight: bold;
    font-size: 13px;
    transition: background-color 0.2s, color 0.2s;
  }

  .download-button:hover{
    background-color:  rgb(107, 99, 99);
    color:  white;
  }

   .getstarted-button {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 13px;
    margin-right: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .getstarted-button:hover{
    background-color: rgb(107, 74, 160);
  }