 .title{
    font-family:Arial;
    font-weight:bold;
    font-size:28px;
    margin-bottom:7px;
  }
  .sales-text{
    font-family:Arial;
    color:red;
    font-style:italic;
    margin-top:0px;
    font-size:18px;

  }